<script>
  console.log("header called");
</script>

<div class="header">
  <div class="header-container">
    <div class="user-info">
     <h1><%= user.username %></h1> 
    </div>
    <div class="nav-links">
      <a href="/dashboard">Projects</a>
      <a href="/tasks">Tasks</a>
    </div>
    <form method="POST" action="/api/logout">
      <button class="logout-btn" id="logoutBtn" type="submit">Logout</button>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    async function handleLogout() {
        try {
          const response = await fetch("/api/logout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          });
      
          if (response.ok) {
            window.location.href = "/"; 
          } else {
            const errorData = await response.json();
            console.error("Logout failed:", errorData.message);
          }
        } catch (error) {
          console.error("Logout error:", error);
        }
      }
    document.getElementById("logoutBtn").addEventListener("click", handleLogout);
  });
</script>